# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VSCode settings
.vscode/
.vscode/*

# Other editor/IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Other system files
Thumbs.db
Desktop.ini
